footer{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
}

.logo{
    background-color: red;
}
.company{
    background-color: blue;
}
.account{
    background-color: green;
}
.follow{
    background-color: yellow;
}