footer{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    background-color: black;
    color: white;
}

footer h3{
    text-decoration: underline;
}

li{
    list-style: none;
}

.logo{
    /* background-color: red; */
}
.company{
    /* background-color: blue; */
}
.account{
    /* background-color: green; */
}
.follow{
    /* background-color: yellow; */
}